body{
    margin: 0px;
    padding: 0px;
}
/* header start */
header{
    padding: 5px 0px;
    border-bottom: 3px solid #EEF0F3;
}
.container{
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    width: 9%;
    float: left;
}
.logo img{
    width: 100%;
}
.menu{
    width: 30%;
    float: right;
    margin-top: 4px;
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0px 20px;
    font-family: sans-serif;
    color: #0A1339;
}
.menu ul li:last-child a{
    margin-right: 0px;
}
/* header end */

/*banner start*/
.banner{
    padding: 60px 0px;
}
.container2{
    width: 50%;
    margin: 0 auto;
}
.b_content{
    text-align: center;
    font-family: sans-serif;
}
.b_content h1{
    font-size: 48px;
    color: #0A1339;
    font-weight: 700;
    margin: 0;
}
.b_content h2{
    font-size: 48px;
    color: #008AFF;
    font-weight: 700;
    margin-top: 17px;
    margin-bottom: 25px;
}
.b_content p{
    font-size: 17px;
    color: #0A1339;
    word-spacing: 5px;
    margin-bottom: 20px;
}
.b_img{
    width: 90%;
    margin: 0 auto;
}
.b_img img{
    width: 100%
}
/*banner end */